[flake8]
max-line-length=120
exclude=*__init__.py
extend-ignore =
    # Ambiguous variable names (such as l, v, x) are
    # often used in math contexts
    E741
    # invalid escape sequences can show up in f-strings
    # with latex
    W605
